.logo {
  fill: white;
  transition: var(--animac);
  cursor: pointer;

  &:hover, &:focus {
      fill: var(--button-color);
      stroke: var(--button-bg-color);
    }
}

.header-logo {
  margin-right: auto;
}