:root {
// Fonts 
--main-font: 'Poppins',sans-serif;

// Colors
--bg-color: #000;
--bg-header-color: #181818;
--text-color: #fff;
--hover-color: orange;
--button-color: #000;
--button-bg-color: #fff;
--bg-img-color: grey;

// animation
  --animac: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

