.header {
  background-color: var(--bg-header-color);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__list {
  display: flex;
}

.navigation__item:first-child {
  margin-right: 3.5rem;
}

.navigation__link:first-child {
  display: inline-block;
  padding-top: 2.1875rem;
  padding-bottom: 2.1875rem;

  font-size: 0.8125rem;
  line-height: 1.53;

  transition: var(--animac);
  cursor: pointer;

  &:hover,
  &:focus {
  color: var(--hover-color);
    }
}

.navigation__item:not(:first-child) {
  margin-right: 2rem;
}

.navigation__link:not(:first-child) {
  font-size: 0.9375rem;
  line-height: 1.33;

  padding-top: 2.125rem;
  padding-bottom: 2.25rem;

  transition: var(--animac);
  cursor: pointer;

  &:hover,
  &:focus {
    color: var(--hover-color);
    }
}