.header {
  padding-top: 1.5rem;
  padding-right: 55px;
  padding-bottom: 1.5rem;
  padding-left: 14.8125rem;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}