.specialilation {
  padding-top: 7.5rem;
  padding-bottom: 6.25rem;
}

.specialilation__title {
  font-size: 2.5rem;
  line-height: 1.05;
  font-weight: 400;
  text-align: center;

  margin-bottom: 0.9375rem;
}

.specialilation__text {
  font-size: 1.4375rem;
  line-height: 1.3;
  font-weight: 300;
  text-align: center;

  margin-bottom: 2.625rem;

  color: var(--text-second-color);
}

.specialilation__card {
  position: relative;

  flex-basis: calc((100% - 16px) / 2);
  height: 600px;
}

.specialilation__picture {
  object-fit: cover;
}

.specialilation__label {
  position: absolute;
}


